@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --linkedin-color: #0a66c2;
  --facebook-color: #0866ff;
  --github-color: #1f2328;
  --primary-color: #5477fb;
  --font-diplay: optional;
  --body-font-family: 'Roboto', sans-serif;
  --body-font-size: 500;
  --body-font-style: normal;
  --bg-image-url: url('./doted-paper.webp');
  --bg-image-repeat: repeat;
  --bg-image-size: auto;
}

.linkedin-color {
  color: var(--linkedin-color);
}

.facebook-color {
  color: var(--facebook-color);
}

.github-color {
  color: var(--github-color);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-display: var(--font-diplay);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
}

#app {
  height: 100%;
  overflow-x: hidden;
  font-display: var(--font-diplay);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  background-image: var(--bg-image-url);
  background-repeat: var(--bg-image-repeat);
  background-size: var(--bg-image-size);
}

.name {
  color: var(--primary-color);
}
